.hero-section {
  position: relative;

  display: flex;
  flex-direction: column;
  color: $colors--white;

  transition: all $duration * 3;

  @include media-breakpoint-up(md) {
    min-height: vw(720, 1920);
    padding-top: vw(36, 1920);
    padding-bottom: vw(36, 1920);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0.34;
      background-image: linear-gradient(
        to right,
        #232635 35%,
        rgba(108, 110, 120, 0) 64%
      );
      z-index: 1;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      min-width: 100%;
      width: 100%;
      min-height: 100%;
      height: 100%;
      object-fit: cover;
      vertical-align: middle;
      border: none;
      transition: all 300ms 150ms ease-in;
    }
  }

  @include media-breakpoint-only(md) {
    &::before {
      background-image: linear-gradient(
        to bottom,
        #232635 35%,
        rgba(108, 110, 120, 0) 64%
      );
    }
  }

  .left-side {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    height: 100%;

    @include media-breakpoint-down(sm) {
      > * {
        &:not(.login-text) {
          display: none;
        }

        &.login-text {
          z-index: 3;
          color: $colors--navy;
          margin-top: 0 !important;
          margin-left: -15px;
          margin-right: -15px;
          background-color: $colors--white;
          font-size: 1.8rem;
          text-align: center;
        }
      }
    }

    @include media-breakpoint-up(md) {
      padding-top: vw(122, 1920);
    }
  }

  .special-box {
    position: relative;
    background-color: $colors--white;
    border-radius: 1rem;
    z-index: 2;
    padding: 1.5rem;

    @include media-breakpoint-down(sm) {
      border-radius: 0;
      margin-left: -15px;
      margin-right: -15px;
    }

    @include media-breakpoint-up(md) {
      padding: 4rem;
    }

    > form > .form-row {
      + .form-row {
        margin-top: 1rem;
      }
    }

    @include media-breakpoint-up(lg) {
      width: 414px;
    }

    .account-list {
      position: relative;
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      display: flex;
      flex-flow: nowrap;

      > * {
        position: relative;
        min-height: 1px;
        width: 50%;
        max-width: 50%;

        + * {
          padding-left: 1rem;
          margin-left: 1rem;
          border-left: 1px solid $colors--warm-grey;
        }

        .link {
          display: block;
          font-family: $ff-sans-serif;
          font-size: 1.4rem;
          font-weight: bold;
          color: $colors--warm-grey;
          text-align: center;
        }
      }
    }
  }

  &:not(.type-login) {
    .login-form {
      display: none;
    }

    .login-title {
      display: none;
    }
    justify-content: flex-end;
  }

  &.type-login {
    justify-content: center;

    @include media-breakpoint-up(md) {
      min-height: 100vh;
    }

    .left-side {
      padding-top: 0;

      > * {
        &:not(.login-title):not(:last-child) {
          display: none;
        }
      }
    }

    .sign-up-form {
      display: none;
    }
  }
}
