.offset-menu {
  display: flex;
  flex-direction: column;

  position: relative;
  width: 375px;
  height: 100%;
  background-color: $colors--white;
  padding: 30px;

  &-block {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    overflow: hidden;
    transition: opacity $duration;

    [close-btn] {
      position: absolute;
      z-index: 9;
      top: 1.6rem;
      font-size: 2rem;
      cursor: pointer;

      @include media-breakpoint-down(sm) {
        right: 1.6rem;
      }

      @include media-breakpoint-up(md) {
        left: 33.5rem;
      }
    }

    &.is-shown {
      opacity: 1;
      visibility: visible;
      z-index: 999;

      .offset-menu {
        transform: translateX(0);
      }
    }
  }

  .o-menu {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;

    &-item {
      position: relative;
      font-size: 1.6rem;
      line-height: 1.47;

      &.account {
        color: $colors--dark-khaki;
        font-weight: bold;
        margin-bottom: 3rem;
      }

      &:not(.account) {
        + * {
          padding-top: 1rem;
          border-top: 1px solid rgba($colors--dark-khaki, 0.75);
        }
      }

      + * {
        margin-top: 0.5rem;
      }
    }

    &-link {
      position: relative;
      display: block;

      &.payment {
        color: $colors--dark-khaki;
        font-weight: bold;

        + * {
          border-top-color: $colors--dark-khaki;
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
    transition: transform 250ms 0s linear;
    transform: translateX(-125%);
  }

  &-footer {
    position: relative;
    margin-top: auto;

    text-align: center;
  }
}
