.title-desc-image-block {
  position: relative;

  .row {
    > * {
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  .title-desc-block {
    @include media-breakpoint-down(sm) {
      .title {
        text-align: center;
        max-width: 75%;
        margin: 0 auto;
      }

      .description {
        max-width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
      }
    }

    @include media-breakpoint-up(md) {
      $width: calcPercent(991, 1640) * 1%;
      flex: 0 0 $width;
      max-width: $width;
    }

    [class*="title"] {
      + * {
        margin-top: 26px;

        @include media-breakpoint-up(md) {
          margin-top: vw(26, 1920);
        }
      }
    }

    .description {
      line-height: 1.67;
    }
  }

  .image-block {
    .image {
      border-radius: 1rem;
      padding-bottom: 207 / 345 * 100%;

      @include media-breakpoint-up(md) {
        padding-bottom: 207 / 511 * 100%;
      }
    }

    @include media-breakpoint-up(md) {
      $width: calcPercent(511, 1640) * 1%;
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}
