html {
  font-size: 62.5%;

  @include media-breakpoint-only(lg) {
    font-size: 45%;
  }
}

html,
body {
  font-family: $ff-sans-serif;
}

body {
  background-color: $colors--pale-grey;
  color: $colors--navy;
  font-size: 1.4rem;
}

figure {
  margin-bottom: 0;
}

a {
  color: inherit;
  transition: color $duration, background-color $duration,
    border-color $duration;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}
