$colors--white: #ffffff;
$colors--black: #000000;

$colors--pale-grey: #eaeef2;
$colors--navy: #04203f;
$colors--dark-khaki: #947d58;
$colors--warm-grey: #707070;
$colors--pinkish-grey: #c2c2c2;
$colors--azul: #134be3;
