.title {
  font-size: 1.4rem;
  letter-spacing: 0.035rem;
  font-weight: bold;
  line-height: 1.19;
  color: $colors--white;

  &:not(.title-serif) {
    font-family: $ff-sans-serif;
  }

  &-serif {
    @extend .title;
    font-family: $ff-serif;
    font-weight: 700;
  }
}

.description {
  font-family: $ff-sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.37;

  &-list {
    padding-left: 2rem;

    li {
      font-family: $ff-sans-serif;
      font-weight: 300;
      font-size: 1.4rem;
      line-height: 1.37;
    }
  }
}

.main-title {
  + * {
    margin-top: 3.8rem !important;
  }
}

.f {
  &-15 {
    font-size: 1.5rem;
  }

  &-16 {
    font-size: 1.6rem;
  }

  &-18 {
    font-size: 1.8rem;
    letter-spacing: 0.045rem;
  }

  &-20 {
    font-size: 2rem;
    letter-spacing: 0.05rem;
  }

  &-22 {
    font-size: 2.2rem;
    letter-spacing: 0.055rem;
  }

  &-24 {
    font-size: 2.4rem;
    letter-spacing: 0.06rem;
  }

  &-26 {
    font-size: 2.6rem;
  }

  &-30 {
    font-size: 3rem;
    letter-spacing: 0.075rem;
  }

  &-36 {
    font-size: 3.6rem;
    letter-spacing: -0.18rem;
  }

  &-65 {
    font-size: 6.5rem;
    letter-spacing: -0.325rem;
  }
}

.text {
  &-color {
    &-azul {
      color: $colors--azul !important;
    }

    &-white {
      color: $colors--white !important;
    }

    &-navy {
      color: $colors--navy !important;
    }

    &-khaki {
      color: $colors--dark-khaki !important;
    }
  }

  &-underline {
    text-decoration: underline !important;
  }
}

.ls--08 {
  letter-spacing: -0.08rem;
}

.font-weight {
  &-thin {
    font-weight: 300 !important;
  }
}

.font {
  &-family {
    &-serif {
      font-family: $ff-serif;
    }
  }
}
