.footer {
  padding-top: 21px;
  background-color: $colors--dark-khaki;
  overflow-x: hidden !important;

  margin-top: 86px;

  ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }

  figure {
    &.img {
      img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        width: 100%;
        min-height: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        vertical-align: middle;
        border: none;
        -webkit-transition: all 300ms 150ms ease-in;
        transition: all 300ms 150ms ease-in;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    padding-bottom: 86px;
  }

  @include media-breakpoint-up(md) {
    padding-top: vw(25, 1024);
    margin-top: vw(25, 1024);
    padding-bottom: vw(25, 1024);
    background-size: 100%;
  }

  .hotels-list {
    @include media-breakpoint-down(sm) {
      display: none;
    }

    @include media-breakpoint-only(md) {
      zoom: 0.9;
    }

    display: flex;
    flex-wrap: nowrap;

    @include media-breakpoint-up(md) {
      max-width: vw(963, 1920);
    }

    > * {
      position: relative;
      width: auto;
      min-height: 1px;

      @include media-breakpoint-up(md) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &-item {
      + * {
        border-left: 2px solid $colors--navy;
      }
    }

    &-link {
      display: block;
      position: relative;
      text-align: center;

      @extend %menu-subtitle;

      span {
        @extend %menu-title;
      }
    }
  }

  .dropdown {
    &-toggle {
      &::after {
        border: none;
        font-family: "Font Awesome 5 Pro";
        font-weight: 400;
        content: "\f107";
        line-height: 1;
        vertical-align: middle;
      }
    }

    &-menu {
      border-radius: 0;
      border-color: $colors--dull-brown;
      padding: 1rem 0;
      margin-top: 1rem;
    }

    &-item {
      @extend .footer__menu-link;
    }
  }

  .follow-us {
    font-family: $ff-serif;
    font-size: 13px;
    font-weight: bold;
    color: $colors--dull-brown;
    letter-spacing: 0.35px;

    i {
      color: $colors--navy;
    }

    .inst {
      font-size: 15px;
      letter-spacing: 0.33px;
    }

    margin-top: 1rem !important;
    margin-bottom: 1.5rem !important;

    @include media-breakpoint-up(md) {
      margin-bottom: 0 !important;
    }
  }

  .instagram-list {
    display: flex;
    flex-flow: wrap;

    @include media-breakpoint-up(xl) {
      max-width: 183px;
      margin-left: auto;
      margin-right: auto;
    }

    > * {
      position: relative;
      min-height: 1px;
      width: 100%;
      max-width: 100%;

      .img {
        padding-bottom: 100%;
      }

      @include media-breakpoint-down(sm) {
        $mw: calcPercent(120, 253) * 1%;

        flex: 0 0 $mw;
        max-width: $mw;

        &:nth-child(2n + 2) {
          margin-left: auto;
        }

        &:nth-child(n + 3) {
          margin-top: 13px;
        }
      }

      @include media-breakpoint-between(md, lg) {
        $mw: calcPercent(90, 450) * 1%;
        flex: 0 0 $mw;
        max-width: $mw;

        + * {
          margin-left: 4px;
        }
      }

      @include media-breakpoint-up(lg) {
        $mw: calcPercent(120, 492) * 1%;
        flex: 0 0 $mw;
        max-width: $mw;
      }

      @include media-breakpoint-up(xl) {
        $mw: 90px;

        flex: 0 0 $mw;
        max-width: $mw;

        &:nth-child(2n + 2) {
          margin-left: auto;
        }

        &:nth-child(n + 3) {
          margin-top: 3px;
        }
      }
    }
  }

  &__container {
    position: relative;
    max-width: calcPercent(333, 375) * 1%;
    width: 100%;
    background-color: $colors--white;
    padding: 40px;

    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      max-width: calc(100% - 28px);
      padding: vw(60, 1024) vw(40, 1024);

      .row.my-md-5 {
        margin-bottom: 0 !important;
      }

      > .row {
        &:nth-child(2) {
          justify-content: center !important;
        }

        + .row {
          margin-top: 20px;
        }
      }
    }

    @include media-breakpoint-up(xl) {
      max-width: vw(1640, 1920);
      padding: vw(65, 1920) vw(80, 1920);
    }

    @include media-breakpoint-up(huge) {
      max-width: 1640px;
      padding: 65px 80px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 20px;
      left: 20px;
      bottom: 20px;
      right: 20px;
      border: 1px solid $colors--dull-brown;

      @include media-breakpoint-up(md) {
        border-color: $colors--white-two;
      }
    }
  }

  &__menu {
    position: relative;

    @include media-breakpoint-down(sm) {
      .form-row {
        justify-content: center;
      }
    }

    + * {
      @include media-breakpoint-down(sm) {
        margin-top: 0.5rem;
      }
    }

    &-block {
      display: flex;
      flex-direction: column;

      > * {
        @include media-breakpoint-down(sm) {
          + * {
            margin-top: 2rem;
          }

          &:first-child {
            order: 4;
            margin-top: 2rem;
          }

          &:nth-child(2),
          &:nth-child(3) {
            margin-top: 0;
          }

          &:last-child {
            order: -1;
            margin-top: 0;
            margin-bottom: 2rem;
          }
        }

        @include media-breakpoint-up(xl) {
          &:nth-child(2) {
            max-width: vw(200, 1920);
          }

          &:nth-child(3) {
            max-width: vw(235, 1920);

            + * {
              margin-left: vw(22.8, 1920);
            }
          }
        }
      }

      @include media-breakpoint-only(md) {
        > * {
          &:not(:last-child) {
            flex-basis: 0;
            flex-grow: 1;
            width: auto;
            max-width: 100%;
          }

          &:last-child {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }

      @include media-breakpoint-up(md) {
        flex-direction: row;
        flex-flow: wrap;
      }

      @include media-breakpoint-up(xl) {
        > * {
          flex-basis: 0;
          flex-grow: 1;
          width: auto;
          max-width: 30%;
        }
      }
    }

    &-item {
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: left;
      }
    }

    &-link {
      font-family: $ff-sans-serif;
      font-weight: 400;
      color: $colors--dull-brown;
      font-size: 18px;
      line-height: 1.68;
      letter-spacing: 0.45px;

      @include media-breakpoint-up(md) {
        font-size: vw(15, 1024);
        line-height: 1.87;
        letter-spacing: 0;
      }

      @include media-breakpoint-up(xl) {
        font-size: 0.9vw;
      }

      @include media-breakpoint-up(huge) {
        font-size: 14px;
      }
    }
  }

  &__find-us {
    @extend .footer__menu-link;
    color: $colors--navy;
    font-weight: bold;

    @include media-breakpoint-up(md) {
      i {
        margin-left: 1rem;
      }
    }

    @include media-breakpoint-up(xl) {
      font-size: 0.9vw;
      margin-bottom: 0.5rem !important;

      i {
        margin-left: 0.5rem;
      }
    }
  }

  &__address {
    @extend .footer__menu-link;
    line-height: 1.67;
    margin-bottom: 0 !important;
  }

  &__phone {
    display: block;
    @extend .footer__address;

    @include media-breakpoint-up(md) {
      margin-bottom: 0 !important;
    }
  }

  &__social-menu {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media-breakpoint-down(sm) {
      justify-content: center;
    }

    &-item {
      + * {
        margin-left: 1rem;
      }
    }

    &-link {
      display: inline-block;
      font-size: 20px;

      @include media-breakpoint-up(md) {
        font-size: fluidSize(18, 22, 768, $baseViewportView--lg);
      }
    }
  }

  &__icon {
    position: relative;
    display: none;
    opacity: 0.05;

    @include media-breakpoint-up(md) {
      display: block;
      width: #{calcPercent(226, $baseViewportView--lg)}vw;
    }
  }

  &__copyright {
    font-family: $ff-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    line-height: 1.5;
    text-align: center;
    color: $colors--white;

    @include media-breakpoint-up(md) {
      font-size: vw(14, 1024);
    }

    @include media-breakpoint-up(xl) {
      font-size: vw(14, 1920);
    }
  }

  &__newsletter {
    .form-control {
      border-color: $colors--white-two;
      border-radius: 30px !important;
      font-family: $ff-serif;
      font-size: fluidSize(18, 24, 768, $baseViewportView--lg);
      letter-spacing: 0.6px;
      flex: 0 0 75%;
    }

    .input-group-prepend {
      flex: 1 1 auto;
      align-items: center;
      justify-content: center;
    }

    .btn {
      border-radius: 30px !important;
      font-family: $ff-sans-serif;
      font-size: fluidSize(14, 18, 768, $baseViewportView--lg);
      letter-spacing: 0.6px;
      height: 100%;
      width: 80%;
    }
  }

  &__wifi {
    @include media-breakpoint-up(md) {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .footer__copyright {
      margin-top: 1.5rem;

      @include media-breakpoint-up(md) {
        font-size: 0.875vw;
        margin-top: 0;
      }
    }

    .wifi-icon {
      max-width: 75px;

      @include media-breakpoint-up(md) {
        max-width: calcPercent(100, $baseViewportView--lg) + vw;
      }
    }
  }

  &-logos {
    display: inline-block;

    max-width: 89px;
    width: 100%;
    height: auto;

    @include media-breakpoint-up(md) {
      max-width: vw(89, 1024);
    }

    @include media-breakpoint-up(xl) {
      max-width: vw(89, 1920);
    }

    @include media-breakpoint-up(huge) {
      max-width: 89px;
    }
  }

  .newsletter-block {
    position: relative;
    text-align: center;
    color: $colors--white;
    margin-bottom: 30px;

    max-width: calcPercent(333, 375) * 1%;
    margin-left: auto;
    margin-right: auto;

    @include media-breakpoint-up(md) {
      max-width: calc(100% - 28px);
    }

    @include media-breakpoint-up(xl) {
      max-width: vw(1640, 1920);
    }

    @include media-breakpoint-up(huge) {
      max-width: 1640px;
    }

    .newsletter {
      &-desc {
        font-family: $ff-sans-serif;
        font-weight: 400;
        font-style: italic;
        @include polyPropSize(16, 16, 22, font-size);
      }

      &-inp {
        font-family: $ff-serif;
        @include polyPropSize(16, 16, 16, font-size);
        @include polyPropSize(0.4, 0.4, 0.4, letter-spacing);
        @include polyPropSize(30, 30, 30, border-radius);
        border-color: $colors--white;
        line-height: 1;

        @include polyPropSize(14, 14, 14, padding-top);
        @include polyPropSize(14, 14, 14, padding-bottom);

        @include polyPropSize(20, 20, 20, padding-left);

        color: $colors--dark-khaki;

        &::placeholder {
          font-family: $ff-serif;
          @include polyPropSize(16, 16, 16, font-size);
          @include polyPropSize(0.4, 0.4, 0.4, letter-spacing);
          color: $colors--dark-khaki;
        }

        &-block {
          @include media-breakpoint-up(md) {
            $mw: calcPercent(370, 996) * 1%;
            flex: 0 0 $mw;
            max-width: $mw;
          }

          @include media-breakpoint-up(xl) {
            $mw: calcPercent(410, 1640) * 1%;
            flex: 0 0 $mw;
            max-width: $mw;
          }
        }
      }

      &-btn {
        display: block;
        text-align: center;
        background-color: $colors--navy;

        @include polyPropSize(16, 16, 16, font-size);
        @include polyPropSize(30, 30, 30, border-radius);
        @include polyPropSize(14, 14, 14, padding-top);
        @include polyPropSize(14, 14, 14, padding-bottom);
        line-height: 1.4;

        &-block {
          @include media-breakpoint-up(md) {
            $mw: calcPercent(176, 996) * 1%;
            flex: 0 0 $mw;
            max-width: $mw;
          }

          @include media-breakpoint-up(xl) {
            $mw: calcPercent(176, 1640) * 1%;
            flex: 0 0 $mw;
            max-width: $mw;
          }
        }
      }
    }
  }
}
