.form-control {
  font-size: 1.4rem;
  line-height: 1;
  padding: 1.5rem;
  height: auto;
  border-color: $colors--pinkish-grey;
  border-radius: 0;

  &:focus {
    border-color: $colors--navy;
    outline: none;
    box-shadow: none;
  }

  &::placeholder {
    color: $colors--warm-grey;
  }
}

input {
  &[readonly] {
    background-color: $colors--white !important;
  }
}

.input-group {
  &.date {
    .input-group-addon {
      position: absolute;
      right: 0;
      z-index: 1;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.input-group-addon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

textarea.form-control {
  resize: none;
}

select.form-control {
  appearance: none;
  -webkit-appearance: none;
  line-height: 1.25;

  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' focusable='false' data-prefix='fal' data-icon='angle-down' role='img' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 512' class='svg-inline--fa fa-angle-down fa-w-8 fa-fw fa-2x'%3E%3Cpath fill='currentColor' d='M119.5 326.9L3.5 209.1c-4.7-4.7-4.7-12.3 0-17l7.1-7.1c4.7-4.7 12.3-4.7 17 0L128 287.3l100.4-102.2c4.7-4.7 12.3-4.7 17 0l7.1 7.1c4.7 4.7 4.7 12.3 0 17L136.5 327c-4.7 4.6-12.3 4.6-17-.1z' class=''%3E%3C/path%3E%3C/svg%3E");
  background-size: 1.2rem;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: calc(100% - 1rem);
}

input {
  &[type="checkbox"] {
    position: absolute;
    left: -9999px;
    opacity: 0;

    + label {
      position: relative;
      padding-left: 3rem;
      font-size: 1.2rem;
      color: $colors--warm-grey;

      &:before {
        content: "";
        position: absolute;
        left: 0;
        width: 2rem;
        height: 2rem;
        border: 1px solid $colors--pinkish-grey;
        margin-right: 1rem;
        background-color: $colors--white;
      }
    }

    &:checked {
      + label {
        &::before {
          content: "\f00c";
          font-family: $font-awesome;
          font-weight: 300;
          color: $colors--pinkish-grey;
          padding-left: 0.25rem;
        }
      }
    }
  }
}
