body {
  &.mode-payment {
    header {
      box-shadow: 0 0 4px 0px $colors--dull-brown;

      + main {
        .payment-block {
          padding-top: 34px;

          @include media-breakpoint-up(lg) {
            padding-top: 13vw;
          }
        }
      }
    }
  }
}

main {
  > section {
    + section {
      padding-top: 34px;

      @include media-breakpoint-up(md) {
        padding-top: vw(34, 1920);
      }
    }
  }
}

.container {
  @include media-breakpoint-up(lg) {
    max-width: 98vw;
  }

  @media (min-width: 1366px) {
    max-width: vw(1670, 1920);
  }

  @media (min-width: 1920px) {
    max-width: 1670px;
  }
}
