.container {
  @include media-breakpoint-up(lg) {
    max-width: 98vw;
  }

  @media (min-width: 1366px) {
    max-width: vw(1670, 1920);
  }
}

main {
  > section {
    + section {
      padding-top: 34px;

      @include media-breakpoint-up(md) {
        padding-top: vw(34, 1920);
      }
    }
  }
}
